<div class="example">
    <h3>Đây là component Home</h3>
    <h2>Địa chỉ</h2>
    <!-- <table id="table">
        <tr>
          <th>Thứ tự</th>
          <th>Tên</th>
          <th>Giá</th>
          <th>Khuyến mãi</th>
        </tr>
        <tr *ngFor="let fruit of fruits; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ fruit.name | lowercase }}</td>
          <td class="right">
            <span [ngClass]="{ 'negative': fruit.price < 0 }">{{ fruit.price | currency: "VND" : "symbol": "1.2" }}</span>
          </td>
          <td>
            <span>{{ fruit.sale | onSale | uppercase }}</span>
          </td>
        </tr>
    </table> -->
    Tỉnh/Thành phố:
    <select id="city" (change)="changeCity($event)">
        <option *ngFor="let data of datas" value="{{ data.city }}">
            {{ data.city }}
        </option>
    </select>
    Quận/Huyện:
    <select id="district">
        <option *ngFor="let district of districts" value="{{ district }}">
            {{ district }}
        </option>
    </select>
    <br />
    <span>Counter = {{ counter }}</span>
    <br />
    <span>Counter ^ 2= {{ counterSqr }}</span>
</div>
